/* .App {
  text-align: center;
} */

.siteHeader {
  background-color: #11133F;
  height: 80px;
  padding: 20px;
  color: white;
}

.siteHeader h2 {
  width: 30%;
  display: inline-block;
  font-family: "La Belle Aurore", sans-serif;
  font-size: 2.5em;
}
/* .navbar {
  display: inline-block;
} */
.navbarOptions {
  z-index: 10;
  float: right;
  margin-top: 8px;
}

.navbarOptions a, .navbarOptions p {
  color: #FFF;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  float: right;
  margin-right: 15px;
}

.navbarOptions p {
  cursor: auto;
  color: #7ec0ee;
}

.registrationContainer, .welcomeContainer {
  margin-top: 40px;
  margin-left: 120px;
}

.registrationForm label {
  display: block;
  margin-top: 25px;
}

.registrationForm label input {
  margin-left: 10px;
}

.submitRegistration {
  margin-top: 30px;
}

.landingToggleBtnGroup {
  margin-left: 120px;
  margin-top: 30px;
}

.registerToggleBtn, .loginToggleBtn {
  margin-right: 15px;
  border-radius: 10px !important;
}

.welcomeMsg {
  display: inline-block;
}

.myProfileBtn {
  float: right;
  margin-top: 30px;
  margin-right: 400px;
}

.myDrafts, .myTeams {
  margin-top: 60px;
}

.myDrafts h3 {
  display: inline;
}

.myTeams h3 {
  display: inline;
}

.createDraftBtn, .createTeamBtn {
  margin-left: 75px;
}

.listDrafts, .listTeams {
  margin-top: 25px;
}

.listDrafts thead, .listTeams thead {
  min-width: 20px;
}

.draftColHeader, .teamColHeader {
  min-width: 300px;
}